html, body {
    margin: 0%;
    background-color:rgba(143, 143, 142, 0.192);
}

.headNoteBox {
    height: 6vh;
    background-color:rgba(39, 37, 37, 0.822);
}

.icon {
    position: fixed;
}

.headerbox {
    border-radius: 15px;
    margin-top: -15vh;
    position: absolute;
    width: 140vh;
    height: 40vh;
    background-color:rgba(48, 161, 236, 0.692);
    
    /* center the damn div */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pizzaIMG {
    z-index: -1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 20%;
    position: fixed;
    width: 140vh;
    height: 50vh;
    clip-path: polygon(0 64%, 100% 19%, 100% 100%, 0% 100%);
}

.headline {
    position: absolute;
    
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    z-index: 1;

    font-family: 'Satisfy', cursive;
    font-size: 9vh;
    color: rgb(143, 140, 140);
    text-shadow: 3px 5px 2px #303030, -40px 25px 0px rgba(71, 71, 71, 0);
}

.infotext {
    position: fixed;
    margin-left: 122vh;
    margin-top: 37.5vh;
    width: 130px;
    
    z-index: 1;
    
    border-radius: 10px;
    background-color: rgba(199, 199, 190, 0.35);
    
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.pizzaList {
    position: absolute;
    width: 1300px;
    height: 700px;
    background-color: rgba(235, 170, 72, 0.171);
    left: 50%;
    top: 120%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.icon {
    position: absolute;
}

.userInputBackground {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(148, 148, 147, 0.5);
    
    /* center the damn div */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.userInputs {
    text-align: center;
    width: 200px;
    padding: 30px;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 400px;
    
    /* center the damn div */
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 20px;
    border-color: rgba(6, 183, 236, 0.568);
    border-width: 4px;
    border-style: outset;
}

.inputfield {
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 10px;
    margin-left: -6px;
}

.sbmButton {
    padding: 20px;
    margin: 15px;
}

.hidden {
    visibility: hidden;
}

.blurry {
    filter: blur(7px);
}

#selection {
    z-index: -1;
    margin-top: 10%;
    background-color: rgb(48, 161, 236);
    width: 60%;
    height: 85%;
    justify-self: center;
    border-radius: 10px;
}

ul {
    margin-left: -20%;
}

.addToBasket {
    padding: 5%;
    z-index: 1;
}

.text {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255)
}

.restaurantName {
    position: absolute;
    font-family: 'Satisfy', cursive;
    font-size: 22px;
    color: white;
    margin-left: 3%;
    margin-top: 1%;
}

.allergenesText {
    color: black;
    font-size: 15px;
}

.pizzaNameElement {
    color: black;
    font-size: 25px;
}

.footNoteBox {
    position: absolute;
    width: 100%;
    height: 15%;   
    background-color:rgba(39, 37, 37, 0.822);
    bottom: -85%;
}

.wholedamnthing {
    justify-content: center;
}

#start {
    justify-self: center;
    padding: 50px;
}

.icon {
    width: 50px;
    color: white
}

.iconbottom {
    position: relative;
    width: 110px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.transparentPNG1 {
    margin-top: 2%;
    transform: rotate(140deg);
    margin-left: 5%;
    z-index: -10;
    position: fixed;
    width: 250px;
}

.transparentPNG2 {
    margin-top: 3%;
    margin-left: 40%;
    z-index: -10;
    position: fixed;
    width: 300px;
}
.transparentPNG3 {
    margin-top: 2%;
    transform: rotate(200deg);
    margin-left: 80%;
    z-index: -10;
    position: fixed;
    width: 150px;
}

.transparentPNG4 {
    margin-top: 30%;
    transform: rotate(95deg);
    margin-left: 5%;
    z-index: -10;
    position: fixed;
    width: 300px;
}

.transparentPNG5 {
    margin-top: 5%;
    margin-left: 20%;
    transform: rotate(70deg);
    z-index: -10;
    position: fixed;
    width: 400px;
}
.transparentPNG6 {
    margin-top: 40%;
    margin-left: 47%;
    transform: rotate(200deg);
    z-index: -10;
    position: fixed;
    width: 120px;
}

.transparentPNG7 {
    margin-top: 25%;
    margin-left: 65%;
    z-index: -10;
    position: fixed;
    width: 370px;
}

.transparentPNG8 {
    margin-top: 2%;
    transform: rotate(200deg);
    margin-left: 70%;
    z-index: -10;
    position: fixed;
    width: 180px;
}